@import "tailwindcss";
@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-scroll-left {
    animation: scroll-left 30s linear infinite;
  }

  .animate-scroll-right {
    animation: scroll-right 30s linear infinite;
  }
}

.custom-inner-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 8px 0 10px -8px rgba(0, 0, 0, 0.5),
    inset -8px 0 10px -8px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  border-radius: inherit;
}
